*, 
*:before, 
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar {
	width: 0; /* Crome - no scroll*/
}
html { 
	margin: 0 auto;
	min-width: 320px;
	max-width: 1400px;
	font-size: 10px;
	background-color: #fff;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width: none; /* FireFox - no scroll*/
}
body {	
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 1.8rem;

}
a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}
ul,li {
	list-style: none;
}
h2 {
	font-weight: 500;
	font-size: 30px;
	line-height: 30px;
	color: #005CB2;
}
h3 { 
	color: #2B2835;
	font-weight: 500;
	font-size: 22px;
}
h4 {
	color: #2D2D2D;
	font-weight: 500;
	font-size: 18px;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 20px;
	width: 100%;
	overflow: hidden;
}
/* --- // Common styles --- */

/* --- .header --- */
.header {
	background-color: #42A5F4;
	padding-top: 40px;
	padding-bottom: 20px;
}

.header__top-line {
	margin-bottom: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top-line__logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.top-line__logo img {
	width: 105px;
	height: auto;
}
.top-line__logo span {
	font-size: 30px;
}

.top-line__container {
	max-width: 860px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.top-line__up-content {
	margin-bottom: 30px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.up-content {}
.up-content__city {
	padding-left: 20px;
	position: relative;
	z-index: 1;
}
.up-content__city:before {
	content: "";
	width: 15px;
	height: 15px;
	background-image: url(../img/svg/pin-a.svg);
	background-size: cover;
	position: absolute;
	top: 3px;
	left: 0;
	z-index: 5;
}
.up-content__phone {
	padding-left: 20px;
	position: relative;
	z-index: 1;
}
.up-content__phone:before {
	content: "";
	width: 15px;
	height: 15px;
	background-image: url(../img/svg/phone.svg);
	background-size: cover;
	position: absolute;
	top: 3px;
	left: 0;
	z-index: 5;
}
.up-content__nav {}
.nav {}
.nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav__item {}
.nav__link {
	margin-left: 10px;
}

.top-line__down-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.down-content {}

.down-content__search {}
.search__form {
	position: relative;
	width: 660px;
}
.search__form > input {
	border: none;
	outline: none;
}
.search__field {
	height: 50px;
	width: 100%;
	padding: 8px 15px 9px 57px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 4px;
	font: 15px 'Roboto', sans-serif;
	color: #7B7B7B;
	outline: none;
	z-index: 1px;
}
.search__button {
	position: absolute;
	top: 16px;
	left: 20px;
	width: 17px;
	height: 17px;
	cursor: pointer;
	background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
	background-size: 17px 17px;
	z-index: 5px;
}

.down-content__cart {
	display: flex;
	justify-content: center;
	align-items: center;
}
.cart__btn {
	padding-left: 40px;
	width: 175px;
	height: 50px;
	color: #fff;
	text-align: left;
	text-transform: uppercase;
	background-color: #0077C1;
	border: 0;
	border-radius: 4px;
	position: relative;
	z-index: 1;
	transition: 0.2s;
}
.cart__btn:hover {
	background-color: #0077dd;
}
.cart__btn:before {
	content: "";
	width: 20px;
	height: 18px;
	background-image: url(../img/svg/cart.svg);
	background-size: cover;
	position: absolute;
	top: 16px;
	left: 10px;
	z-index: 5;
}
.cart__num {
	width: 50px;
	height: 50px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	position: absolute;
	top: 0;
	right: 0;
	background: #005CB2;
	border-radius: 0px 4px 4px 0px;
}

.header__bottom-line {

}
.bottom-line__nav-goods {}
.nav-goods {}
.nav-goods__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-goods__item {
	position: relative;
}
.nav-goods__arrow:after {
	content: "";
	width: 10px;
	height: 5px;
	background-image: url(../img/svg/arrow.svg);
	background-size: cover;
	position: absolute;
	top: 12px;
	right: -20px;
	z-index: 5;
}
.nav-goods__link {}

/* --- // .header --- */

/* --- .banner --- */
.banner {
	position: relative;
	width: 100%;
}
.banner__img {
	display: block;
	width: 100%;
	height: auto;
}
.banner__overlay {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	transition: 1.5s ease;
}
/* --- // .banner --- */

/* --- .deals --- */
.deals {
	margin-top: 50px;
}
.deals__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
}
.deals__content {
	width: 100%;
	max-width: 830px;
}
.deals__list {
	margin-top: 30px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: nowrap;
}
.deals__item {
	max-width: 200px;
}
.deals__img-link {
	margin-bottom: 20px;
	width: 100%;
	height: auto;
}
.deals__sales {
	margin: 10px 0;
	font-weight: 500;
	font-size: 18px;
	color: #42A5F4;
}
.deals__txt-link {
	font-weight: 500;
	font-size: 18px;
	color: #B3B3B3;
}
/* - .poster - */
.deals__poster {
	margin-left: 30px;
	align-self: flex-end;
}
.poster__img {
	max-width: 200px;
	width: auto;
	height: 100%;
}
/* --- // .deals --- */

/* --- .best-selling --- */

.best-selling {
	margin-top: 50px;
}
.best-selling__list {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.best-selling__item {
	padding: 0 15px 30px;
	max-width: 315px;
	width: 100%;
	background-color: #F8F8F9;

}
.best-selling__card {}
.card-product {}
.card-product__img-block {
	height: 270px;
	display: flex;
}
.card-product__img {
	margin: auto;
}
.card-product__txt-container {

}
.card-product__description p {
	margin: 5px 0 20px;
	font-size: 16px;
	line-height: 24px;
	color: #030303;

}
.card-product__offer {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.product-offer {}
.product-offer__price {
	font-weight: 700;
	font-size: 28px;
	position: relative;
	line-height: 33px;
	color: #42A5F4;
}
.product-offer__price:before {
	content: "";
	background: #fff url(../img/svg/prodict-offer__price.svg) no-repeat center;
	width: 12px;
	height: 20px;
	position: absolute;
	top: 10px;
	left: -17px;
}
.product-offer__button {
	margin-left: 20px;
	max-width: 165px;
	width: 100%;
	background: #005CB2;
	border-radius: 4px;
	font-weight: bold;
	font-size: 16px;
	line-height: 45px;
	color: #FFFFFF;
	border: none;
	outline: none;
}

/* --- // .best-selling --- */

/* --- .latest --- */
.latest {
	margin-top: 50px;
}
.latest__list {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.latest__item {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.latest__img-link {
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 28px;
	color: #2D2D2D;
}
.latest__sales {
	font-size: 18px;
	line-height: 28px;
	color: #42A5F4;
}
.latest__price {
	padding-left: 11px;
	line-height: 16px;
	position: relative;
	color: #B3B3B3;
}
.latest__price:before {
	content: "";
	background: #fff url(../img/svg/latest__price.svg) no-repeat center;
	width: 6px;
	height: 12px;
	position: absolute;
	top: 5px;
	left: 0;
}
/* --- // .latest --- */

/* --- .trending --- */
.trending {
	margin-top: 50px;
}
.trending__list {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.trending__item {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.trending__img-link {
	margin-bottom: 15px;
	width: 100%;
}
.trending__sales {
	font-size: 18px;
	line-height: 28px;
	color: #42A5F4;
}
.trending__txt-link {
	color: #B3B3B3;
}
/* --- // .trending --- */

/* --- .discover --- */
.discover {
	margin: 50px auto 10px;
}
.discover__header {
	font-size: 44px;
	line-height: 54px;
	font-weight: 400;
	color: #42A5F4;
	text-align: center;
}
.discover__description {
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 24px;
	line-height: 34px;
	color: #666;
	text-align: center;
}
.discover__offer {
}

.offer__list {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;

	background-image: url(../img/discover/downgrade.png);
	background-repeat: no-repeat;
	background-position: 50% 45%;
}
.offer__item {
	max-width: 400px;
	width: 30%;
	z-index: 5;
}
.offer__img-link {
	line-height: 0;
}
.offer__img {
	max-width: 398px;
	width: 100%;
	height: auto;
}
.offer__txt-block {
	margin-top: 75px;
}
.txt-block {}
.txt-block__tag-link {
	font-size: 18px;
	line-height: 1.33;
	color: #42A5F4;
}
.txt-block__header {
	font-size: 30px;
	font-weight: 400;
	line-height: 1.13;
	color: #3B3B3B;
}
.txt-block__text {
	margin-top: 10px;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.25;
	color: #666666;
}
.txt-block__link-more {
	display: block;
	text-align: right;
	margin-top: 10px;
	font-size: 24px;
	line-height: 1.25;
	color: #3B3B3B;
}
/* --- // .discover --- */

/* --- // .newsletter --- */

.newsletter {
	margin: 0 auto;
	margin-top: 40px;
	padding: 75px 20px 80px;
	width: 100%;
	text-align: center;
	background-color: #5DB2F5;
}
.newsletter__header {
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	line-height: 1.2;
	color: #FFFFFF;
}
.newsletter__sub-header {
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 1.5;
	color: #FFFFFF;
}
.newsletter__subscribe {
	margin: 0 auto;
	margin-top: 35px;
	max-width: 770px;
	width: 100%;
	height: 80px;

	display: flex;
	justify-content: center;
	align-items: center;
}
input {
	border: none;
	outline: none;
}
.newsletter__text {
	padding-left: 30px;
	flex-grow: 1;
	line-height: 80px;
	vertical-align: middle;
	text-align: left;
	font-size: 25px;
	color: #C8C8C8;
}
.newsletter__button {
	width: 160px;
	line-height: 80px;
	vertical-align: middle;
	text-align: center;
	background-color: #005CB2;
	font-size: 25px;
	color: #FFFFFF;
}
/* --- // .newsletter --- */


/* --- FOOTER --- */
.footer {
	padding: 60px 0 20px;
	width: 100%;
	background-color: #005CB2;
}
.container {}
.footer__block--align {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.footer__block {
	width: 20%;
}
.block__header {
	margin-bottom: 10px;
	color: #fff;
	font-weight: 700;
	font-size: 24px;
}
.block__item {
	line-height: 1.2;
	font-size: 12px;
}
.block__link {
	color: #fff;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.8;
	text-transform: uppercase;
	color: #C8C8C8;
}

/* - Social icons - */
.block__social {
	display: flex;
	align-items: center;
	width: 100%;
}
.social__item {
	width: 50px;
}
.social__link {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #fff;
	position: relative;
}
.social__img {
	width: 20px;
	height: 20px;
	position: absolute;
	top: calc(50% - 10px);
	left: calc(50% - 10px);
}

.footer__copyright {
	margin-top: 55px;
	text-align: center;
	font-weight: 400;
	font-size: 12px;
	color: #FFFFFF;
}
/* --- // FOOTER --- */